* { margin: 0px; padding: 0px; }
body {
  background: #f0f1f2;
  font:12px "Open Sans", sans-serif;
}
#view-code{
  color:#89a2b5;
  opacity:0.7;
  font-size:14px;
  text-transform:uppercase;
  font-weight:700;
  text-decoration:none;
  position:absolute;top:660px;
  left:50%;margin-left:-50px;
  z-index:200;
}
#view-code:hover{opacity:1;}
#chatbox{
  width:100%;
  border-radius:6px;
  overflow:hidden;
  height:484px;
  position:relative;
}

#friendslist{
  position:relative;
  top:0;
  left:0;
  width:100%;
  height:484px;
}
#topmenu{
  height:69px;
  width:100%;
  border-bottom:1px solid #d8dfe3;
}
#topmenu span{
  float:left;
  width: 96px;
  height: 70px;
  background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/245657/top-menu.png") -3px -118px no-repeat;
}
#topmenu span.friends{margin-bottom:-1px;}
#topmenu span.chats{background-position:-95px 25px; cursor:pointer;}
#topmenu span.chats:hover{background-position:-95px -46px; cursor:pointer;}
#topmenu span.history{background-position:-190px 24px; cursor:pointer;}
#topmenu span.history:hover{background-position:-190px -47px; cursor:pointer;}
.friend{
  height:70px;
  border-bottom:1px solid #e7ebee;
  position:relative;
  box-sizing: unset;
}
.friend:hover{
  background:#f1f4f6;
  cursor:pointer;
}
.friend img{
  width:40px;
  border-radius:50%;
  margin:15px;
  float:right;
}
.floatingImg{
  width:40px;
  border-radius:50%;
  position:absolute;
  top:0;
  left:12px;
  border:3px solid #fff;
}
.friend p{
  padding:15px 0 0 0;
  text-align: center;
}
.friend p strong{
  font-weight:600;
  font-size:15px;
  color:#597a96;

}
.friend p span{
  font-size:13px;
  font-weight:400;
  color:#aab8c2;
}
.friend .status{
  background:#26c281;
  border-radius:50%;
  width:9px;
  height:9px;
  position:absolute;
  top:31px;
  right:60px;
}
.friend .status.away{background:#ffce54;}
.friend .status.inactive{background:#eaeef0;}
#search{
  background:#e3e9ed url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/245657/search.png") -11px 0 no-repeat;
  height:60px;
  width:100%;
  position:absolute;
  bottom:0;
  left:0;
}
#searchfield{
  background:#e3e9ed;
  margin:21px 0 0 55px;
  border:none;
  padding:0;
  font-size:14px;
  font-family:"Open Sans", sans-serif;
  font-weight:400px;
  color:#8198ac;
}
#searchfield:focus{
   outline: 0;
}
#chatview{
  width:100%;
  height:484px;
  position:absolute;
  top:0;
  left:0;
  display:none;
  background:#fff;
}
#profile{
  height:153px;
  overflow:hidden;
  text-align:center;
  color:#fff;
}
.p1 #profile{
  background:#fff url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/245657/timeline1.png") 0 0 no-repeat;
  background-size: cover;
}
#profile .avatar{
  width:68px;
  border:3px solid #fff;
  margin:23px 0 0;
  border-radius:50%;
}
#profile  p{
  font-weight:600;
  font-size:15px;
  margin:118px 0 -1px;
  opacity:0;
  -webkit-transition: all 200ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
     -moz-transition: all 200ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
      -ms-transition: all 200ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
       -o-transition: all 200ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
          transition: all 200ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
}
#profile  p.animate{
  margin-top:97px;
  opacity:1;
  -webkit-transition: all 200ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
     -moz-transition: all 200ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
      -ms-transition: all 200ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
       -o-transition: all 200ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
          transition: all 200ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
}
#profile  span{
  font-weight:400;
  font-size:11px;
}
#chat-messages{
  opacity:0;
  margin-top:30px;
  width:100%;
  height:270px;
  overflow-y:scroll;
  overflow-x:hidden;
  padding-right: 20px;
  -webkit-transition: all 200ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
     -moz-transition: all 200ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
      -ms-transition: all 200ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
       -o-transition: all 200ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
          transition: all 200ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
}
#chat-messages.animate{
  opacity:1;
  margin-top:0;
}
#chat-messages label{
  color:#aab8c2;
  font-weight:600;
  font-size:12px;
  text-align:center;
  margin:15px 0;
  width:290px;
  display:block;
}
#chat-messages div.message{
  padding:0 0 30px 58px;
  clear:both;
  margin-bottom:45px;
}
#chat-messages div.message.right{
    padding: 0 58px 30px 0;
    margin-right: -19px;
    margin-left: 19px;
}
#chat-messages .message img{
    float: left;
    margin-left: -38px;
    border-radius: 50%;
    width: 30px;
    margin-top: 12px;
}
#chat-messages div.message.right img{
  float: right;
    margin-left: 0;
  margin-right: -38px;
}
.message .bubble{
  background:#f0f4f7;
  font-size:13px;
  font-weight:600;
  padding:12px 13px;
  border-radius:5px 5px 5px 0px;
  color:#8495a3;
  position:relative;
  float:left;
}
#chat-messages div.message.right .bubble{
  float:right;
  border-radius:5px 5px 0px 5px ;
}
.bubble .corner{
  background:url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/245657/bubble-corner.png") 0 0 no-repeat;
  position:absolute;
  width:7px;
  height:7px;
  left:-5px;
  bottom:0;
}
div.message.right .corner{
  background:url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/245657/bubble-cornerR.png") 0 0 no-repeat;
  left:auto;
  right:-5px;
}
.bubble span{
    color: #aab8c2;
    font-size: 11px;
    position: absolute;
    right: 0;
    bottom: -22px;
}
#sendmessage{
  height:60px;
  border-top:1px solid #e7ebee;
  position:absolute;
  bottom:0;
  right:0px;
  width:100%;
  background:#fff;
  padding-bottm:50px;
}
#sendmessage textarea{
  border
}
#sendmessage textarea{
  background:#fff;
  margin:21px 0 0 21px;
  border:none;
  padding:0;
  font-size:14px;
  font-family:"Open Sans", sans-serif;
  font-weight:400px;
  color:#aab8c2;
  width: 88%;
  height: 100%;
}
#sendmessage textarea:focus{
   outline: 0;
}
#sendmessage button{
  background:#fff url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/245657/send.png") 0 -41px no-repeat;
  width:30px;
  height:30px;
  position:absolute;
  right: 15px;
  top: 23px;
  border:none;
}
#sendmessage button:hover{
  cursor:pointer;
  background-position: 0 0 ;
}
#sendmessage button:focus{
   outline: 0;
}

#close{
  position:absolute;
  top: 8px;
  opacity:0.8;
  right: 20px;
  width:20px;
  height:20px;
  cursor:pointer;
}
#close:hover{
  opacity:1;
}
.cx, .cy{
  background:#fff;
  position:absolute;
  width:0px;
  top:15px;
  right:15px;
  height:3px;
  -webkit-transition: all 250ms ease-in-out;
     -moz-transition: all 250ms ease-in-out;
    -ms-transition: all 250ms ease-in-out;
     -o-transition: all 250ms ease-in-out;
      transition: all 250ms ease-in-out;
}
.cx.s1, .cy.s1{
  right:0;
  width:20px;
  -webkit-transition: all 100ms ease-out;
     -moz-transition: all 100ms ease-out;
    -ms-transition: all 100ms ease-out;
     -o-transition: all 100ms ease-out;
      transition: all 100ms ease-out;
}
.cy.s2{
  -ms-transform: rotate(50deg);
  -webkit-transform: rotate(50deg);
  transform: rotate(50deg);
  -webkit-transition: all 100ms ease-out;
     -moz-transition: all 100ms ease-out;
    -ms-transition: all 100ms ease-out;
     -o-transition: all 100ms ease-out;
      transition: all 100ms ease-out;
}
.cy.s3{
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-transition: all 100ms ease-out;
     -moz-transition: all 100ms ease-out;
    -ms-transition: all 100ms ease-out;
     -o-transition: all 100ms ease-out;
      transition: all 100ms ease-out;
}
.cx.s1{
  right:0;
  width:20px;
  -webkit-transition: all 100ms ease-out;
     -moz-transition: all 100ms ease-out;
    -ms-transition: all 100ms ease-out;
     -o-transition: all 100ms ease-out;
      transition: all 100ms ease-out;
}
.cx.s2{
  -ms-transform: rotate(140deg);
  -webkit-transform: rotate(140deg);
  transform: rotate(140deg);
  -webkit-transition: all 100ms ease-out;
     -moz-transition: all 100ms ease-out;
    -ms-transition: all 100ease-out;
     -o-transition: all 100ms ease-out;
      transition: all 100ms ease-out;
}
.cx.s3{
  -ms-transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
  transform: rotate(135deg);
  -webkit-transition: all 100ease-out;
     -moz-transition: all 100ms ease-out;
    -ms-transition: all 100ms ease-out;
     -o-transition: all 100ms ease-out;
      transition: all 100ms ease-out;
}
#chatview, #sendmessage {
overflow:hidden;
border-radius:6px;
}

                            /*ICONE MODULE DE POPUP CHAT*/
a.module {
    padding: 7px;
    background-color: white;
    text-decoration: none;
    color: #8495a3;
}
a.module:hover {
    padding: 7px;
    background-color: #3797dd;
    text-decoration: none;
    color: #ffff;
}
.box-module{
    position: relative;
    top: 7px;
}

                                      /*CARD CHAT*/

.card-chat {
  width: 250px;
  height: 100%;
  background: #fff;
  margin: 10px auto;
  text-align: center;
  padding: 0 12px 12px 12px;
  overflow: hidden;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
  border-top: 12px solid white;
}
.card-chat .picture {
  position: relative;
  top: 0;
  width: 100%;
  height: 190px;
  transition: all 0.5s ease;
  animation: pictureDown 0.7s;
  animation-fill-mode: forwards;
}
.card-chat .picture_up {
  animation: pictureUp 0.7s;
  animation-fill-mode: forwards;
}
.card-chat .options {
  position: relative;
  bottom: 110px;
  width: 300px;
  height: 37px;
  display: none;
  opacity: 0;
  padding: 15px 0 0 0;
  user-select: none;
  font-size: 24px;
  color: #FFF;
  text-align: left;
}
.card-chat .options i {
  padding-left: 52px;
}
.card-chat .options_show {
  animation: optionsDisplay 0.7s;
  animation-fill-mode: forwards;
  opacity: 1;
}
.card-chat .navigation {
    width: 100%;
    height: 55px;
    position: relative;
    bottom: 0;
    color: #ffffff;
    text-align: left;
    background-color: #43bae4;
    font-size: 24px;
}
.card-chat .navigation .plus {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 34px;
  height: 34px;
  transform: translate(-50%, -50%);
  cursor: pointer;
  border-radius: 150px;
  background: #43bae4;
}
.card-chat .navigation .plus .plusHor {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 24px;
  height: 2px;
  background: #ffffff;
}
.card-chat .navigation .plus .plusVer {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 2px;
  height: 24px;
  background: #ffffff;
  animation: deactivation 0.7s;
  animation-fill-mode: forwards;
}
.card-chat .navigation .plus .plusVer_active {
  animation: activation 0.7s;
  animation-fill-mode: forwards;
  width: 300px;
  height: 55px;
  top: -38px;
  background: #18457c;
}

.nav_btns {
  padding-top: 17px;
  padding-left: 17px;
  animation: navShow 0.7s;
  animation-fill-mode: forwards;
}
.nav_btns .nav_btn {
  margin-left: 32px;
}
.nav_btns .nav_btn_r {
  margin-left: 83px;
}

.nav_btns_hide {
  animation: navHide 0.7s;
  animation-fill-mode: forwards;
}

.div-submi{
    width: 100%;
    position: relative;
    bottom: 0;
    color: #ffffff;
    font-size: 23px;
}

.btn-accept{
    text-align: center;
    background: #85e68d;
    padding: 6px;
    color: white;
    font-size: 0.9em;
    text-decoration: none;
}
.btn-refus{
    text-align: center;
    background: #ef6c5d;
    padding: 6px;
    color: white;
    font-size: 0.9em;
    text-decoration: none;
    margin-right: 5px;
}

@keyframes activation {
  0% {
    width: 2px;
    height: 34px;
    top: 50%;
  }
  50% {
    width: 2px;
    height: 55px;
    top: -38px;
  }
  100% {
    width: 300px;
    height: 55px;
    top: -38px;
  }
}
@keyframes deactivation {
  0% {
    width: 300px;
    height: 55px;
    top: -38px;
  }
  50% {
    width: 2px;
    height: 55px;
    top: -38px;
  }
  100% {
    width: 2px;
    height: 24px;
    top: 50%;
  }
}
@keyframes pictureUp {
  0% {
    top: 0;
  }
  50% {
    top: -65px;
  }
  100% {
    top: -65px;
  }
}
@keyframes pictureDown {
  0% {
    top: -65px;
  }
  50% {
    top: -65px;
  }
  100% {
    top: 0;
  }
}
@keyframes optionsDisplay {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes navShow {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes navHide {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@media only screen and (max-width: 519px) {
  #switcher-button2 {
    left: 300px;
  }
  #switcher2{
    width: 300px;
  }
}
