*-*<!-- Start Artists Register Form -->
<div class="row" style="display:none;">
    <div class=" form-popup">
    <!-- <span id="message"></span> --><!-- remove #message to stop floating jQuery messages -->
    <form action="/" method="POST" class="">
        <div class="row" style="padding: 0 15px">
            <!-- .input-popup -->
            <div class="col-lg-6" style="padding-left: 0;">
                <span class="input-popup nom" style="margin: 0 0 10px 0;">
                    <i class="fa fa-user"></i>
                    <input type="text" name="nom" class="lg" placeholder="Nom" />
                </span>
                <!-- .input-popup -->
            </div>
            <div class="col-lg-6" style="padding: 0;">
                <span class="input-popup prenom" style="margin: 0 0 10px 0;">
                    <i class="fa fa-user"></i>
                    <input type="text" name="prenom" class="lg" placeholder="Prénom" />
                </span>
                <!-- .input-popup -->
            </div>
            <span class="input-popup email" style="margin: 0 0 10px 0;">
                <i class="fa fa-envelope"></i>
                <input type="email" name="email"  class="lg" placeholder="Adresse email" />
            </span>
            <!-- .input-popup -->
            <span class="input-popup password" style="margin-bottom: 10px;">
                <i class="fas fa-unlock"></i>
                <input type="password" name="password" class="lg" placeholder="Mot de passe" />
            </span>
            <!-- .input-popup -->
            <span class="input-popup confirm_password" style="margin-bottom: 10px;">
                <i class="fas fa-unlock"></i>
                <input type="password" id="confirm_password" name="confirm_password" class="lg" placeholder="Confirmation du mot de passe" />
            </span>
            <!-- .input-popup -->
        </div><!-- .col-5 -->
        
        <div class="row" style="padding:0 15px;">
            <!-- .input-popup -->
            <span class="input-popup" style="margin-bottom:30px;">
                <button type="submit">Envoyer</button>
            </span><!-- .input-popup -->
        </div>
    </form>
 </div>
</div>
<!-- End Artists Register Form -->