<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<link href='./asset/css/fullcalendar.min.css' rel='stylesheet' />
<link href='./asset/css/fullcalendar.print.min.css' rel='stylesheet' media='print' />
<script src='./asset/js/fullcalendar/lib/jquery.min.js'></script>
    <!-- Bootstrap Date time picker -->
<link href="http://localhost:4000/asset/css/bootstrap_datetimepicker_build.css" rel="stylesheet" />
<style>

  body {
      margin-bottom: 40px;
    margin-top: 40px;
    text-align: center;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    }

    #wrap {
        width: 1100px;
        margin: 0 auto;
    }

    #external-events {
        float: left;
        width: 199px;
        padding: 0 10px;
        text-align: center;
    }

    #external-events h4 {
        font-size: 16px;
        margin-top: 0;
        padding-top: 1em;
    }

    #external-events .fc-event {
        margin: 10px 0;
        cursor: pointer;
    }

    #external-events input {
        margin: 0;
        vertical-align: middle;
    }

  #calendar {
    float: right;
        margin: 0 auto;
    width: 900px;
    background-color: #FFFFFF;
      border-radius: 6px;
        box-shadow: 0 1px 2px #C3C3C3;
    -webkit-box-shadow: 0px 0px 21px 2px rgba(0,0,0,0.18);
-moz-box-shadow: 0px 0px 21px 2px rgba(0,0,0,0.18);
box-shadow: 0px 0px 21px 2px rgba(0,0,0,0.18);
    }
.boxes {
    margin: auto;
    padding: 18px;
    background: #595959;
}

/*Checkboxes styles*/
input[type="checkbox"] { display: none; }

input[type="checkbox"] + label {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 20px;
  font: 14px/20px 'Open Sans', Arial, sans-serif;
  color: #ddd;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

input[type="checkbox"] + label:last-child { margin-bottom: 0; }

input[type="checkbox"] + label:before {
  content: '';
  display: block;
  width: 20px;
  height: 20px;
  border: 1px solid #6cc0e5;
  position: absolute;
  left: 0;
  top: 0;
  opacity: .6;
  -webkit-transition: all .12s, border-color .08s;
  transition: all .12s, border-color .08s;
}

input[type="checkbox"]:checked + label:before {
  width: 10px;
  top: -5px;
  left: 5px;
  border-radius: 0;
  opacity: 1;
  border-top-color: transparent;
  border-left-color: transparent;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
</style>
</head>
<body>
<script>

  $(document).ready(function() {
			var lundi;
			var mardi;
			var mercredi;
			var jeudi;
			var vendredi;
			var samedi;
			var dimanche;
			var pause;

    /*  className colors

    className: default(transparent), important(red), chill(pink), success(green), info(blue)

    */

    /* initialize the external events
    -----------------------------------------------------------------*/

    $('#external-events div.external-event').each(function() {

      // create an Event Object (http://arshaw.com/fullcalendar/docs/event_data/Event_Object/)
      // it doesn't need to have a start or end
      var eventObject = {
        title: $.trim($(this).text()) // use the element's text as the event title
      };

      // store the Event Object in the DOM element so we can get to it later
      var t = $(this).data('eventObject', eventObject);

      // make the event draggable using jQuery UI
      $(this).draggable({
        zIndex: 999,
        revert: true,      // will cause the event to go back to its
        revertDuration: 0  //  original position after the drag
      });

    });

    /* initialize the calendar
    -----------------------------------------------------------------*/

    var calendar =  $('#calendar').fullCalendar({
      header: {
        left: 'title',
        center: 'agendaDay,agendaWeek,month',
        right: 'prev,next today'
      },
      slotLabelFormat:"HH:mm",
      editable: true,
      firstDay: 1, //  1(Monday) this can be changed to 0(Sunday) for the USA system
      selectable: true,
      defaultView: 'month',
      axisFormat: 'h:mm',
      locale: 'fr', // AJOUTER LE FICHIER LOCALS src='fullcalendar/lang-all.js
      eventLimit: true, // for all non-agenda views
      views: {
        agenda: {
          eventLimit: 4 // adjust to 6 only for agendaWeek/agendaDay
        },
      },
      selectHelper: true,
      selectConstraint: "businessHours",
		select: function(start, end, allDay) {
		 var title = prompt('Event Title:');
		 if (title) {
			 start = start.format();
			 end = end.format();
			 $.ajax({
				 url: '/calendar',
				 data: 'title='+ title+'&start='+ start +'&end='+ end ,
				 type: "POST",
				 success: function(data) {
					 calendar.fullCalendar('renderEvent',
					 {
					 	 id_event : data[4],
						 title: title,
						 start: start,
						 end: end,
					 },
				 		true // make the event "stick"
				 	);
				 }
			 });
		 }
		 calendar.fullCalendar('unselect');
		},
      eventClick: function(event, jsEvent, view) {
        console.log('Clicked on: ' + event.start.format()+' A : ' + event.end.format());
        console.log('Clicked on: ' + event.title);
        console.log('Clicked on: ' + event.id_event);

        // console.log('Coordinates: ' + jsEvent.id + ',' + jsEvent.pageY);

        // console.log('Current view: ' + view.name);
        $('#calendar').fullCalendar('removeEvents', event._id);
		      $.ajax({
				      url: '/drop_event_calendar',
				      data: 'id='+event.id_event,
				      type: "POST",
				    success: function(data) {
				 	    console.log("Event "+data+" Mit à la poubelle");
				    }
			    })
        // change the day's background color just for fun
        $(this).css('background-color', '#e9e9e9');
      },
      droppable: true, // this allows things to be dropped onto the calendar !!!
      dragRevertDuration: 0,
      eventDrop: function(event, date, allDay) { // this function is called when something is dropped

        //retrieve the dropped element's stored Event Object
        var originalEventObject = $(this).data('eventObject');

        // we need to copy it, so that multiple events don't have a reference to the same object
        var copiedEventObject = $.extend({}, originalEventObject);

        // assign it the date that was reported
        copiedEventObject.start = date;
        copiedEventObject.allDay = allDay;
        // render the event on the calendar
        // the last `true` argument determines if the event "sticks" (http://arshaw.com/fullcalendar/docs/event_rendering/renderEvent/)

        // is the "remove after drop" checkbox checked?
        if ($('#drop-remove').is(':checked')) {
          // if so, remove the element from the "Draggable Events" list
          $(this).remove();
        }

      },
		eventDragStop: function( event, jsEvent, ui, view ) {
		    if(isEventOverDiv(jsEvent.clientX, jsEvent.clientY)) {
		        $('#calendar').fullCalendar('removeEvents', event._id);
		        var el = $( "<div class='fc-event'>" ).appendTo( '#external-events-listing' ).html( event.title );
		        $.ajax({
				 url: '/drop_event_calendar',
				 data: 'id='+event.id_event,
				 type: "POST",
				 success: function(data) {
				 	console.log("Event "+data+" Mit à la poubelle");
				 }
			 })
		    }
		},
		  eventDrop: function(event, delta, revertFunc) {
		  	var start = event.start.format();
		  	var end = event.end.format();
		    alert(event.title + " was dropped on " + event.start.format());

		    if (!confirm("Are you sure about this change?")) {
		    	revertFunc();
		    }
		    else{
			 $.ajax({
				 url: '/update_event_calendar',
				 data: 'start='+ start +'&end='+ end+'&id='+ event.id_event,
				 type: "POST",
				 success: function(data) {
					console.log("Update de "+data.id);
				 }
			 });
		    }
		  },
      eventResize: function(event, delta, revertFunc, jsEvent, ui, view){
        var start = event.start.format();
        var end = event.end.format();
        alert(event.title + " was resized on " + event.end.format());
        if (!confirm("Are you sure about this change?")) {
          revertFunc();
        }
        else{
         $.ajax({
           url: '/update_event_calendar',
           data: 'start='+ start +'&end='+ end+'&id='+ event.id_event,
           type: "POST",
           success: function(data) {
            console.log("Update de "+data.id);
           }
         });
        }
      },
		//CHARGEMENT EVENT OK
	    businessHours: <%- locals.dow %>,
		events:<%- locals.eventObj %>
    });
        var isEventOverDiv = function(x, y) {

            var external_events = $( '#external-events' );
            var offset = external_events.offset();
            offset.right = external_events.width() + offset.left;
            offset.bottom = external_events.height() + offset.top;

            // Compare
            if (x >= offset.left
                && y >= offset.top
                && x <= offset.right
                && y <= offset .bottom) { return true; }
            return false;
        };
	    $('.datepicker input').datetimepicker({
	    	format : 'HH:mm',
	    	locale : 'fr',
	    	sideBySide : true,
	    	stepping : 30
	    });
		$('input[type=checkbox]').change(function(e){
		    if($(this).is(':checked')) {
		        console.log("Checked" +e.target.id);
				$("<p class="+e.target.id+">"+e.target.id+" : de "+$('input[name="ouverture"]').val()+" A "+$('input[name="fermeture"]').val()+"</p>").appendTo( "#dishoraire" );
				if (e.target.id == "lundi") {
					lundi = $('input[name="ouverture"]').val()+"-"+$('input[name="fermeture"]').val();
				}if (e.target.id == "mardi") {
					mardi = $('input[name="ouverture"]').val()+"-"+$('input[name="fermeture"]').val();
				}if (e.target.id == "mercredi") {
					mercredi = $('input[name="ouverture"]').val()+"-"+$('input[name="fermeture"]').val();
				}if (e.target.id == "jeudi") {
					jeudi = $('input[name="ouverture"]').val()+"-"+$('input[name="fermeture"]').val();
				}if (e.target.id == "vendredi") {
					vendredi = $('input[name="ouverture"]').val()+"-"+$('input[name="fermeture"]').val();
				}if (e.target.id == "samedi") {
					samedi = $('input[name="ouverture"]').val()+"-"+$('input[name="fermeture"]').val();
				}if (e.target.id == "dimanche") {
					dimanche = $('input[name="ouverture"]').val()+"-"+$('input[name="fermeture"]').val();
				}
		    } else {
		        console.log("pas Checked" +e.target.id);
		        $("p").remove("."+e.target.id)
				if (e.target.id == "lundi") {
					lundi = null;
				}if (e.target.id == "mardi") {
					mardi = null;
				}if (e.target.id == "mercredi") {
					mercredi = null;
				}if (e.target.id == "jeudi") {
					jeudi = null;
				}if (e.target.id == "vendredi") {
					vendredi = null;
				}if (e.target.id == "samedi") {
					samedi = null;
				}if (e.target.id == "dimanche") {
					dimanche = null;
				}
		    }
		});
		$('.savecal').click(function(){
			pause = $('input[name="pausedeb"]').val()+"-"+$('input[name="pausefin"]').val();
		    console.log(lundi+" / "+mardi+" / "+mercredi+" / "+jeudi+" / "+vendredi+" / "+samedi+" / "+dimanche+" / "+pause);
			 $.ajax({
				 url: '/calendar_dow',
				 data: 'lundi='+lundi+'&mardi='+mardi+'&mercredi='+mercredi+'&jeudi='+jeudi+'&vendredi='+vendredi+'&samedi='+samedi+'&dimanche='+dimanche+'&pause='+pause ,
				 type: "POST",
				 success: function(data) {
					console.log(data)
				 }
			 });
		});
  });
</script>
<div id='wrap'>
<div id='external-events'>
  <h4>Poubelle</h4>
  <a href="#">
    <div id='external-events-listing'>
    	<img src="/asset/images/trash.png" alt="poubelle" style="position: relative;width: 100%">
    </div>
  </a>
    <input type='checkbox' id='drop-remove' checked='checked' style="display: none;"/>
    <p><strong>Horaire d'ouverture : </strong></p>
    <div class="datepicker" style="position: relative;">
    	<input type="text" name="ouverture">
    </div>
    <p><strong>Horaire de fermeture : </strong></p>
    <div class="datepicker" style="position: relative;">
    	<input type="text" name="fermeture">
    </div>
    <p><strong>pour les jours suivants :</strong></p>
	<div class="boxes">
	  <input type="checkbox" id="lundi">
	  <label for="lundi">Lundi</label>

	  <input type="checkbox" id="mardi">
	  <label for="mardi">Mardi</label>

	  <input type="checkbox" id="mercredi">
	  <label for="mercredi">Mercredi</label>

	  <input type="checkbox" id="jeudi">
	  <label for="jeudi">Jeudi</label>

	  <input type="checkbox" id="vendredi">
	  <label for="vendredi">Vendredi</label>

	  <input type="checkbox" id="samedi">
	  <label for="samedi">Samedi</label>

	  <input type="checkbox" id="dimanche">
	  <label for="dimanche">Dimanche</label>
	</div>
    <p><strong>pause du midi ou fermeture exeptionnelle de :</strong></p>
    <div class="datepicker" style="position: relative;">
    	<input type="text" name="pausedeb">
    </div>
    <p><strong>A :</strong></p>
    <div class="datepicker" style="position: relative;">
    	<input type="text" name="pausefin">
    </div>
</div>

<div id='calendar'></div>
<p><strong>Mes horaires :</strong></p>
<div id="dishoraire"></div>
<button class="savecal btn-primary">Sauvegarder</button>
<div style='clear:both'></div>
</div>
<script src='asset/js/fullcalendar/lib/moment.min.js'></script>
<script src='asset/js/fullcalendar/locale/fr.js'></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src='asset/js/fullcalendar/fullcalendar.min.js'></script>
    <!-- Bootstrap Date time picker -->
<script language="javascript" src="asset/js/bootstrap-datetimepicker.js"></script>
</body>
</html>
