*-*<!-- start module 2 Box -->
<div class="member-box" id="3" style="position:absolute;height:396px;">
   <form action="/song_upload" method="POST" class="upload" style="height:100%;" enctype="multipart/form-data">
    <div class="color-wrapper" >
         <a href="#" id="close" style="z-index: 99;"><i class="fa fa-times"></i></a>
         <div class=" form-popup">
            <h3 style="color:#f5e8d1;">Envoi de son</h3>
        </div>
        <div class="form-popup">
            <span class="input-popup">          
                <button type="submit">Envoyer</button>
                <i class="fab fa-telegram-plane" style="height: auto;font-size: 25px;left: 70%;top: 10%;"></i>
            </span><!-- .input-popup -->
        </div>
    </div><!-- .color-wrapper -->
    
    <div class="clear-wrapper" style="width: 64%;height:100%;">
        <div class=" form-popup">
            <h3 style="">Envoi de son</h3>
        </div>
        <div class=" form-popup">
            <div class="row" style="padding: 0;">
                <!-- .input-popup -->
                <div class="col-lg-12" style="padding-left: 0;padding-right:0;">
                    <div class="input-popup song" style="margin: 0;font-size:18px;
                    font-family:'Roboto', Arial, sans-serif;
                    font-weight:300;
                    text-align:center;
                    width:100%;
                    display:block;
                    padding:0;">
                        <div class="input-group-prepend" style="display:inline-block;width: 40%;text-align:right;">
                            <button type="button" class="input-group-text" id="basic-addon3" style="width: 100%;display: block;height:50px;">Choisir</button>
                        </div>
                        <i class="fas fa-music" style="display: inline-block;left: 190px;"></i>
                        <input type="text" name="song" class="lg form-control" style="height: 50px;text-indent: 28px;margin: 0;width: 59%;line-height: 20px;font-size: 18px;font-weight: 100;font-family: 'Roboto', Arial, sans-serif;border: 1px solid #d5d5d5;outline: none;
-webkit-border-radius: 1px;-moz-border-radius: 1px;
border-radius: 1px;display:inline-block;" placeholder="Choisir un fichier..." />
                    </div>
                    <!-- .input-popup -->
                </div>
            </div>
        </div>
    </div><!-- .clear-wrapper -->
    <div class="shadow-lg" style="width:100%;background-size: contain;bottom:-29px;"></div>
    </form>
</div><!-- end module 2 Box -->