*-*<!-- start module 2 Box -->
<div class="member-box" id="2" style="position:absolute;height:396px;">
   <form action="http://localhost:4000/module_video" method="POST" class="module_video" style="height:100%;">
    <div class="color-wrapper" >
         <a href="#" id="close" style="z-index: 99;"><i class="fa fa-times"></i></a>
         <div class=" form-popup">
            <h3 style="color:#f5e8d1;">Envoi de vidéo</h3>
        </div>
        <div class="form-popup">
            <span class="input-popup">          
                <button type="submit" >Envoyer</button>
                <i class="fab fa-telegram-plane" style="height: auto;font-size: 25px;left: 70%;top: 10%;"></i>
            </span><!-- .input-popup -->
        </div>
    </div><!-- .color-wrapper -->
    
    <div class="clear-wrapper" style="width: 64%;height:100%;">
        <div class=" form-popup">
            <h3 style="">Envoi de vidéo</h3>
        </div>
        <div class=" form-popup">
            <div class="row" style="padding:0;">
                <!-- .input-popup -->
                <div class="col-lg-12" style="padding-left: 0;padding-right:0;">
                    <div class="input-popup type_v" style="margin: 0;font-size:18px;
                    font-family:'Roboto', Arial, sans-serif;
                    font-weight:300;
                    text-align:center;
                    width:100%;
                    display:block;
                    padding:5px 0;">
                        <!-- <div class="input-group-prepend" style="display:inline-block;width: 40%;text-align:right;">
                            <span class="input-group-text" id="basic-addon3" style="width: 100%;display: block;">https://youtu.be/</span>
                        </div> -->
                        <i class="fab fa-youtube-square" style="left:188px;"></i>                        
                        <select 
                            name="type_v" class="type_v lg form-control" style="height: 50px;text-indent: 23px;margin: 0;width: 59%;line-height: 20px;font-size: 18px;font-weight: 100;font-family: 'Roboto', Arial, sans-serif;border: 1px solid #d5d5d5;outline: none;-webkit-border-radius: 1px;-moz-border-radius: 1px;border-radius: 1px;display:inline-block;" placeholder="Lien de la vidéo Youtube" >
                            <option value="default">Type de la vidéo :</option>
                            <option value="youtube_video_url">Youtube</option>
                            <option value="vimeo_video_url">Vimeo</option>
                            <option value="other_video_url">Autre</option>
                        </select>
                    </div>
                </div>
                <!-- .input-popup -->
                <div class="col-lg-12" style="padding-left: 0;padding-right:0;">
                    <div class="input-popup youtube_video_url" style="display:none;margin: 0;font-size:18px;
                    font-family:'Roboto', Arial, sans-serif;
                    font-weight:300;
                    text-align:center;
                    width:100%;
                    padding:5px 0;">
                        <div class="input-group-prepend" style="display:inline-block;width: 40%;text-align:right;">
                            <span class="input-group-text" id="basic-addon3" style="width: 100%;display: block;">https://youtu.be/</span>
                        </div>
                        <i class="fab fa-youtube-square" style="left:188px;"></i>                        
                        <input type="text" name="youtube_video_url" class="lg form-control" style="height: 50px;text-indent: 23px;margin: 0;width: 59%;line-height: 20px;font-size: 18px;font-weight: 100;font-family: 'Roboto', Arial, sans-serif;border: 1px solid #d5d5d5;outline: none;-webkit-border-radius: 1px;-moz-border-radius: 1px;border-radius: 1px;display:inline-block;" placeholder="Lien de la vidéo Youtube" />
                    </div>
                </div>
                    <!-- .input-popup -->
                    <div class="col-lg-12" style="padding-left: 0;padding-right:0;">
                        <div class="input-popup vimeo_video_url" style="display:none;margin: 0;font-size:18px;
                        font-family:'Roboto', Arial, sans-serif;
                        font-weight:300;
                        text-align:center;
                        width:100%;
                        padding:5px 0;">
                            <div class="input-group-prepend" style="display:inline-block;text-align: right;width:40%;">
                                <span class="input-group-text" id="basic-addon3">https://vimeo.com/</span>
                            </div>
                            <i class="fab fa-vimeo-square" style="left:188px;"></i>                        
                            <input type="text" name="vimeo_video_url" class="lg form-control" style="height: 50px;text-indent: 23px;margin: 0;width: 59%;line-height: 20px;font-size: 18px;font-weight: 100;font-family: 'Roboto', Arial, sans-serif;border: 1px solid #d5d5d5;outline: none;-webkit-border-radius: 1px;-moz-border-radius: 1px;border-radius: 1px;display:inline-block;" placeholder="Lien de la vidéo Vimeo" />
                        </div>
                        <!-- .input-popup -->
                    </div>
                    <div class="col-lg-12" style="padding-left: 0;padding-right:0;">
                        <div class="input-popup other_video_url" style="display:none;margin: 0;font-size:18px;
                        font-family:'Roboto', Arial, sans-serif;
                        font-weight:300;
                        text-align:center;
                        width:100%;
                        padding:5px 0;">
                            <div class="input-group-prepend" style="display:inline-block;width: 40%;text-align:right;">
                                <span class="input-group-text" id="basic-addon3" style="width: 100%;display: block;">https://
                            </div>
                            <i class="fas fa-video" style="left:188px;"></i>                        
                            <input type="text" name="other_video_url" class="lg form-control" style="height: 50px;text-indent: 23px;margin: 0;width: 59%;line-height: 20px;font-size: 18px;font-weight: 100;font-family: 'Roboto', Arial, sans-serif;border: 1px solid #d5d5d5;outline: none;-webkit-border-radius: 1px;-moz-border-radius: 1px;border-radius: 1px;display:inline-block;" placeholder="Lien de la vidéo" />
                        </div>
                        <!-- .input-popup -->
                    </div>
                    <div class="col-lg-12" style="padding-left: 0;padding-right:0;">
                        <div class="input-popup message" style="margin: 0;font-size:18px;
                        font-family:'Roboto', Arial, sans-serif;
                        font-weight:300;
                        text-align:center;
                        width:100%;
                        display:block;
                        padding:5px 0;">
                            <i class="fas fa-comment" style="left:10px;"></i>                        
                            <input type="text" name="message" class="lg form-control" style="height: 50px;text-indent: 23px;margin: 0;width: 100%;line-height: 20px;font-size: 18px;font-weight: 100;font-family: 'Roboto', Arial, sans-serif;border: 1px solid #d5d5d5;outline: none;-webkit-border-radius: 1px;-moz-border-radius: 1px;border-radius: 1px;display:inline-block;" placeholder="Objet de la vidéo" />
                        </div>
                        <!-- .input-popup -->
                    </div>
            </div>
        <!-- </div> -->
        </div>  
    </div><!-- .clear-wrapper -->
    </form>  
    <div class="shadow-lg" style="width:100%;background-size: contain;bottom:-29px;"></div>
</div><!-- end module 2 Box -->