<footer class="small-cont">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-6 small-cont">
        <img src="/asset/images/logo-light.png" alt="" class="img-responsive footer-logo" />
      </div>
      <div class="col-xs-12 col-md-6 footer-copyrights">
        &copy; Copyright 2015 <a href="http://themeforest.net/user/johnnychaos?ref=johnnychaos" target="blank">Jan Skwara</a>. All rights reserved. Buy on <a href="http://themeforest.net/user/johnnychaos/portfolio?ref=johnnychaos" target="blank">Themeforest</a>.
      </div>
    </div>
  </div>
</footer>
</div>

<!-- Move to top button -->

<div class="move-top">
<div class="big-triangle-second-color"></div>
<div class="big-icon-second-color"><i class="jfont fa-lg">&#xe803;</i></div>
</div>

<!-- Login modal -->
<div class="modal fade apartment-modal" id="login-modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <div class="modal-title login-msg">
          <h1>Connexion<span class="special-color">.</span></h1>
          <div class="short-title-separator"></div>
        </div>
        <input name="login" type="email" class="input-full main-input" placeholder="Email" />
        <input name="password" type="password" class="input-full main-input" placeholder="Votre mot de passe" />
        <a data-action="login" href="#" class="button-primary button-shadow button-full">
          <span>Se connecter</span>
          <div class="button-triangle"></div>
          <div class="button-triangle2"></div>
          <div class="button-icon"><i class="fa fa-user"></i></div>
        </a>
        <a href="#" class="forgot-link pull-right">Mot de passe oublié?</a>
        <div class="clearfix"></div>
        <p class="login-or">OU</p>
        <a href="#" class="facebook-button">
          <i class="fa fa-facebook"></i>
          <span>Se connecter avec Facebook</span>
        </a>
        <a href="#" class="google-button margin-top-15">
          <i class="fa fa-google-plus"></i>
          <span>Se connecter avec Google</span>
        </a>
        <p class="modal-bottom">Pas encore inscrit? <a href="#" class="register-link">S'enregistrer</a></p>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<!-- Register modal -->
<div class="modal fade apartment-modal" id="register-modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <div class="modal-title">
          <h1>S'enregistrer<span class="special-color">.</span></h1>
          <div class="short-title-separator"></div>
        </div>
        <input type="radio" id="c1" name="type" class="main-checkbox" checked value="2" />
        <label for="c1"><span></span>Professionnel Audio</label><br/>
        <input type="radio" id="c2" name="type" class="main-checkbox" value="3" />
        <label for="c2"><span></span>Professionnel Vidéo</label><br/>
        <input type="radio" id="c3" name="type" class="main-checkbox" value="4" checked />
        <label for="c3"><span></span>Artiste</label><br/>
        <input name="first_name" type="text" class="input-full main-input" placeholder="Prénom" />
        <input name="last_name" type="text" class="input-full main-input" placeholder="Nom" />
        <input name="login" type="email" class="input-full main-input" placeholder="Email" />
        <input name="password" type="password" class="input-full main-input" placeholder="Mot de passe" />
        <input name="repeat_password" type="password" class="input-full main-input" placeholder="Confirmation du mot de passe" />
        <a data-action="register" href="#" class="button-primary button-shadow button-full">
          <span>S'enregistrer</span>
          <div class="button-triangle"></div>
          <div class="button-triangle2"></div>
          <div class="button-icon"><i class="fa fa-user"></i></div>
        </a>
        <div class="clearfix"></div>
        <p class="login-or">OU</p>
        <a href="#" class="facebook-button">
          <i class="fa fa-facebook"></i>
          <span>S'enregistrer avec Facebook</span>
        </a>
        <a href="#" class="google-button margin-top-15">
          <i class="fa fa-google-plus"></i>
          <span>S'enregistrer avec Google</span>
        </a>
        <p class="modal-bottom">Déjà inscrit? <a href="#" class="login-link">Se connecter</a></p>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<!-- Logout modal -->
<div class="modal fade apartment-modal" id="logout-modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <div class="modal-title logout-msg">
          <h1>Déconnexion<span class="special-color">.</span></h1>
          <div class="short-title-separator"></div>
        </div>
        <a data-action="logout" href="#" class="button-primary button-shadow button-full">
          <span>Se déconnecter</span>
          <div class="button-triangle"></div>
          <div class="button-triangle2"></div>
          <div class="button-icon"><i class="fa fa-user"></i></div>
        </a>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<!-- Forgotten password modal -->
<div class="modal fade apartment-modal" id="forgot-modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <div class="modal-title">
          <h1>Mot de passe oublié<span class="special-color">?</span></h1>
          <div class="short-title-separator"></div>
        </div>
        <p class="negative-margin forgot-info">Insérez votre adresse email.<br/>Nous vous enverrons un lien qui permettra de mettre à jour votre mot de passe à l'adresse email indiquée.</p>
        <input name="login" type="email" class="input-full main-input" placeholder="Votre email" />
        <a data-action="forgottenPassword" href="#" class="button-primary button-shadow button-full">
          <span>Réinitialiser mot de passe</span>
          <div class="button-triangle"></div>
          <div class="button-triangle2"></div>
          <div class="button-icon"><i class="fa fa-user"></i></div>
        </a>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<!-- jQuery  -->
  <script type="text/javascript" src="/asset/js/jQuery/jquery.min.js"></script>
<script type="text/javascript" src="/asset/js/jQuery/jquery-ui.min.js"></script>
<script type="text/javascript" src="/asset/js/jQuery/jquery.easyPaginate.js"></script>

<!-- Bootstrap-->
  <script type="text/javascript" src="/asset/bootstrap/bootstrap.min.js"></script>

<!-- Google Maps -->
<!-- <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?key=AIzaSyDfDCV5hXiPamCIT8_vwGXuzimLQ9MF76g&amp;sensor=false&amp;libraries=places"></script> -->

<!-- plugins script -->
<script type="text/javascript" src="/asset/js/plugins.js"></script>
<!-- Latest compiled and minified JavaScript -->
<!-- <script src="/asset/js/bootstrap-select.js"></script> -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.2/js/i18n/defaults-fr_FR.min.js"></script>
<!-- template scripts -->
<script type="text/javascript" src="/asset/mail/validate.js"></script>
<script type="text/javascript" src="/asset/js/isotop-v3.0.6.js"></script>
  <script type="text/javascript" src="/asset/js/apartment.js"></script>
<script>
  var user = {};
  var session = {};
  user.id = "<%- locals.session.userId != undefined ?
    locals.session.userId : "null" %>";
  user.nom = "<%- locals.session.userName ?
    locals.session.userName : "null" %>";
  user.type = "<%- locals.session.userType ?
    locals.session.userType : "null" %>";
  session.user = user;
  sessionStorage.setItem("session", JSON.stringify(session));
</script>
<script type="module" src="/asset/js/login.js"></script>
<script type="text/javascript" src="/asset/js/forgottenPassword.js"></script>
<script type="text/javascript" src="/asset/js/register.js"></script>
  <script type="module" src="/asset/js/search.js"></script>
  <script type="module" src="/asset/js/logout.js"></script>
</body>
</html>
