*-*<% include header %>
<section class="content-section anim fadeInDown" data-wow-delay="0.25s">
        <div class="container">
            <h1><i class="fa fa-pencil"></i>FORGOTTEN <span>PASSWORD</span></h1>
              <p>We offer many various services at Dale! We will list a few right here, right now just to show you how incredibly awesome we are at our company!</p>
        </div>
</section>

<section class="content-section">
    	<div class="form-popup" style="width:75%;margin:auto;">
                <span class="message" style="display:none;">
                </span>
                <form method="POST" action="/forgottenPassword" id="form">
                    <div class="row" >
                    <div class="col-lg-7">    
                            <span class="input-popup email">
                                <i class="fa fa-envelope"></i>
                                <input type="email" name="email" id="email" class="lg" placeholder="Adresse email" title="" />
                            </span>
                        <!-- .input-popup -->
                    </div><!-- .col-5 -->
                    <div class="col-lg-5">
                        <span class="input-popup">
                        	<button type="submit" style="height:50px;">ENVOYER</button>
                        </span><!-- .input-popup -->
                    </div>
                </div>
                </form>
    	</div><!-- .container -->	
    </section><!-- .content-section .form -->

<% include footer %>