<!DOCTYPE html>
<html>

<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

<meta name="viewport" content="width=device-width, initial-scale=1">

<title>ON-AIR</title>

	<!-- Bootstrap core CSS -->
    <link href="http://localhost:4000/asset/css/bootstrap.css" rel="stylesheet" />
    <!-- Primary CSS styles -->
    <link href="http://localhost:4000/asset/css/style.css" rel="stylesheet" />
    <!-- Masterslider CSS styles -->
    <link href="http://localhost:4000/asset/css/masterslider/masterslider.css" rel="stylesheet" />
    <link href="http://localhost:4000/asset/css/masterslider/skins/black-1/style.css" rel="stylesheet" />
    <!-- Aniamte CSS styles -->
    <link href="http://localhost:4000/asset/css/animate.css" rel="stylesheet" />
    <!-- Nivo Slider CSS Styles -->
    <link href="http://localhost:4000/asset/css/nivo-slider.css" rel="stylesheet" />
    <!-- Isotope CSS Styles -->
    <link href="http://localhost:4000/asset/css/isotope.css" rel="stylesheet" />
    <!-- Owl Carousel CSS Styles -->
    <link href="http://localhost:4000/asset/css/owl.carousel.css" rel="stylesheet" />
    <link href="http://localhost:4000/asset/css/owl.transitions.css" rel="stylesheet" />
    <!-- Lightbox CSS Styles -->
    <link href="http://localhost:4000/asset/css/lightbox.css" rel="stylesheet" />
    <!-- PERSO CSS styles -->
    <link href="http://localhost:4000/asset/css/update.css" rel="stylesheet" />
    <link href="http://localhost:4000/asset/css/chat.css" rel="stylesheet" />
    <!-- Bootstrap slider CSS -->
    <link href="http://localhost:4000/asset/css/bootstrap-slider.css" rel="stylesheet" />
    <!-- Bootstrap Side Navbar CSS -->
    <link href="http://localhost:4000/asset/css/bootstrap-side-navbar.css" rel="stylesheet" />
    <!-- Fontawesome CSS styles -->
    <link href="http://localhost:4000/asset/css/fontawesome-allv5.css" rel="stylesheet" />
    <!-- Custom Checkboxes And Radios CSS Styles -->
    <link href="http://localhost:4000/asset/css/checkboxes_and_radios_cutom.css" rel="stylesheet" />
    <!-- Custom Cards  CSS Styles -->
    <link href="http://localhost:4000/asset/css/bootstrap-card-ui2.css" rel="stylesheet" />
    <!-- Custom Cards Login/Sign up CSS Styles -->
    <link href="http://localhost:4000/asset/css/bootstrap-card-connect-login.css" rel="stylesheet" />
    <!-- Vertical boxes (chat modules) CSS Styles -->
    <link href="http://localhost:4000/asset/css/vertical-boxes.css" rel="stylesheet" />
    <!-- Bootstrap tags input CSS Styles -->
    <link href="http://localhost:4000/asset/css/bootstrap-tagsinput.css" rel="stylesheet" />
    <!-- Responsive CSS Styles -->
    <link href="http://localhost:4000/asset/css/responsive.css" rel="stylesheet" />
    <!-- Bootstrap Date time picker -->
    <link href="http://localhost:4000/asset/css/bootstrap_datetimepicker_build.css" rel="stylesheet" />
    <!-- Plyr Player Css-->
    <link href="http://localhost:4000/asset/css/plyr.css" rel="stylesheet" />
    <!-- Credit Card -->
    <link href="http://localhost:4000/asset/css/credit-card.css" rel="stylesheet" />
    <script language="javascript" src="http://localhost:4000/asset/js/jquery-1.12.0.min.js"></script>
    <!-- Socket IO JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.7.3/socket.io.js"></script>
    <!-- ISOTOP Sorter/Filter -->
    <script language="javascript" src="http://localhost:4000/asset/js/isotop-v3.0.6.js"></script>
    <!-- Bootstrap slider JavaScript -->
    <script language="javascript" src="http://localhost:4000/asset/js/bootstrap-slider.js"></script>
    <!-- Plyr JS -->
    <script src="http://localhost:4000/asset/js/plyr.js"></script>
    <!-- Bootstrap Tags Input JavaScript -->
    <script language="javascript" src="http://localhost:4000/asset/js/bootstrap-tagsinput.js"></script>
</head>
  
<body>
    <section class="team">
     <span id="nav-begins"></span><!-- place before navigation bar-->
    <div class="container-wrapper navigation">
        <nav class="navbar navbar-default" role="navigation">
        
            <div class="container" style="float:right;width:100%;padding-left:303px;">
            
                <div class="navbar-header" style="width:40%;">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="">
                        <i class="fa fa-bars"></i>
                    </button>
                    <a class="navbar-brand" href="/" style="display:inline-block;">
                        <img src="http://localhost:4000/asset/images/logo.jpg" />
                    </a>
                    <% if (name !== undefined && name == "search") { %>
                        <form role="form" style="display:inline-block;height:75px;width: 50%;">
                        <div class="input-group">
                            <input id="searchinput" class="form-control" type="text" placeholder="Recherche sur le nom du professionnel" />
                            <span class="input-group-btn">
                                <button class="btn btn-default" type="button"><i class="fas fa-times"></i></button>
                            </span>
                        </div>
                        <!-- <div id="searchlist" class="list-group">
                            <a class="list-group-item" href="blue.html"><span>blue</span></a>
                            ...
                        </div> -->
                        </form>
                    <% } %>
                    <ul class="mini"></ul><!-- mobile navigation -->
                </div><!-- .navbar-header -->
                <% if (name !== undefined && name == "index") { %>
                    <!-- start login form inline -->
                    <div class="login-form-inline" style="float:right;height:86px;">
                            <div class="form-group ms-slide" style="display: inline-block;margin: 0;height: auto;position: relative;width: auto;vertical-align: middle;" data-member-id="1">
                                <button style="padding:6px 12px;margin: 0;" type="submit" class="btn btn-primary" >Se connecter/S'inscrire </button>
                            </div>
                            <div class="form-group" style="height: 53%;display: inline-block;margin: 0;">
                            </div>
                    </div>
                <% } %>
                <% if (name !== undefined && (name == "search" || name == "chat")) { %>
                    <!-- start login form inline -->
                    <div class="login-form-inline" style="float:right;height:86px;">
                            <div class="form-group ms-slide" style="display: inline-block;margin: 0;height: auto;position: relative;width: auto;vertical-align: middle;" data-member-id="1">
                                <button style="padding:6px 12px;margin: 0;" type="submit" class="btn btn-primary" >Se déconnecter </button>
                            </div>
                            <div class="form-group" style="height: 53%;display: inline-block;margin: 0;">
                            </div>
                    </div>
                <% } %>
                <!-- end login form inline -->
                <div class="collapse navbar-collapse">
                    <div class="right">
                        <ul class="nav navbar-nav">
                            <li class="active dropdown h">
                                <a href="/">Home</a>
                                <ul class="dropdown-menu">
                                    <li><a href="#">Awesome</a></li>
                                    <li><a href="#">Dropdown</a></li>
                                    <li><a href="#">Menu</a></li>
                                </ul>
                            </li>
                            <li class="dropdown h">
                                <a href="#">Pages</a>
                                <ul class="dropdown-menu">
                                    <li><a href="about.html">About</a></li>
                                    <li><a href="contact.html">Contact</a></li>
                                    <li><a href="/chat">Chat</a></li>
                                    <li><a href="single.html">Single</a></li>
                                    <li><a href="footer-alternate.html">Footer 2</a></li>
                                </ul>
                            </li>
                            
                            <li class="dropdown h full">
                                <a href="#">Features</a>
                                <section class="container dropdown-menu">
                                    <span class="wrapper">
                                        <div class="clear-wrapper">
                                            <article>
                                                <strong>PAGE STRUCTURE</strong>
                                                <ul>
                                                    <li><a href="#"><i class="fa fa-video-camera"></i>Video Backgrounds</a></li>
                                                    <li><a href="#"><i class="fa fa-picture-o"></i>Parallax Backgrounds</a></li>
                                                    <li><a href="#"><i class="fa fa-sun-o"></i>Light Background</a></li>
                                                    <li><a href="#"><i class="fa fa-moon-o"></i>Dark Background</a></li>
                                                </ul>
                                            </article>
                                            
                                            <span class="divider"></span>
                                            
                                            <article>
                                                <strong>PAGE ELEMENTS</strong>
                                                <ul>
                                                    <li><a href="#"><i class="fa fa-video-camera"></i>Lorem Ipsum</a></li>
                                                    <li><a href="#"><i class="fa fa-picture-o"></i>Dolar Sit</a></li>
                                                    <li><a href="#"><i class="fa fa-sun-o"></i>Amet</a></li>
                                                    <li><a href="#"><i class="fa fa-moon-o"></i>Varun Sitrem</a></li>
                                                </ul>
                                            </article>
                                            
                                            <span class="divider"></span>
                                            
                                            <article>
                                                <strong>SOME MORE STUFF</strong>
                                                <ul>
                                                    <li><a href="#"><i class="fa fa-video-camera"></i>Pricing</a></li>
                                                    <li><a href="#"><i class="fa fa-picture-o"></i>Content</a></li>
                                                    <li><a href="#"><i class="fa fa-sun-o"></i>Features</a></li>
                                                    <li><a href="#"><i class="fa fa-moon-o"></i>Typography</a></li>
                                                </ul>
                                            </article>
                                        </div><!-- .clear-wrapper -->
                                        
                                        <div class="color-wrapper">
                                            <strong>FRESH FROM THE BLOG</strong>
                                            <div class="nivo-wrapper">
                                                <div id="slider" class="nivoSlider">
                                                    <img src="asset/images/citydown.jpg" alt="" name="" width="310" height="150" />
                                                    <img src="asset/images/oceanscene.jpg" alt="" name="" width="310" height="150" />
                                                </div>
                                            </div>
                                            <p><a href="#">To see more, check out our portfolio page! Prepare to be impressed.</a></p>
                                        </div><!-- .color-wrapper -->
                                    </span>
                                </section><!-- .container.dropdown-menu -->
                            </li><!-- .dropdown.full -->
                            
                            <li><a href="portfolio-1.html">Portfolio</a></li>
                            <li><a href="blog.html">Blog</a></li>
                        </ul>
                        <div class="navbar-form navbar-left">
                            <i class="fa fa-times"></i>
                            <i class="fa fa-search"></i>
                        </div>
                    </div>
                </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
            <!-- <div class="search-field">
                <div class="container">
                    <form method="get" role="search">
                        <input type="text" name="s" placeholder="Type then press enter..." />
                        <button type="submit" class="hidden btn btn-default">Submit</button>
                    </form>
                </div>
            </div> --><!-- search-field -->
        </nav>
    </div>

<!-- 	<% if (locals.flash && locals.flash.error) { %>
	<div class="alert alert-danger" role="alert">
		<%= flash.error %>
	</div>
	<% } %> -->