<!DOCTYPE html>
<html lang="fr">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

	<title>Label - ON-AIR</title>
	<meta name="keywords" content="studio, enregistrement, clip, video, realisateur, beatmaker" />
	<meta name="description" content="Plateforme de services studio d'enregistrement et clip video pour les artistes" />
	<link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
	<link rel="icon" href="favicon.ico" type="image/x-icon">

    <!-- Bootstrap -->
    <link rel="stylesheet" href="/asset/bootstrap/bootstrap.min.css">
	<!-- Font awesome styles -->
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">


	<!-- Custom styles -->
	<link rel='stylesheet' type='text/css' href='http://fonts.googleapis.com/css?family=Roboto:400,400italic,300,300italic,500,500italic,700,700italic&amp;subset=latin,latin-ext'>
	<link rel="stylesheet" type="text/css" href="/asset/css/plugins.css">
    <link rel="stylesheet" type="text/css" href="/asset/css/apartment-layout.css">
    <link id="skin" rel="stylesheet" type="text/css" href="/asset/css/navy.css">
    <link rel="stylesheet" type="text/css" href="/asset/css/style.css">

    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>
<body>
<div class="loader-bg"></div>
<div id="wrapper">

<!-- Page header -->
	<header>
		<div class="top-bar-wrapper">
		<nav class="navbar main-menu-cont">
			<div class="container">
				<div class="navbar-header">
					<a href="index" title="" class="navbar-brand">
						<img src="/asset/images/logo-onair.jpg" alt="logo Label - ON-AIR" />
					</a>
				</div>
				<div id="navbar" class="navbar-collapse collapse">
					<ul class="nav navbar-nav navbar-right">
						<li>
							<% if (locals.session.userId == undefined){ %>
							<a class="special-color" href="#login-modal" data-toggle="modal">
								Sign in/Sign up <i class="fa fa-lock"></i>
							</a>
							<% }else {%>
								<a class="special-color" href="#logout-modal" data-toggle="modal">
									Deconnecter <i class="fa fa-lock"></i>
								</a>
							<% } %>
						</li>
					</ul>
				</div>
			</div>
		</nav>
    </header>
