<% if (locals.result.success == true){ 
  if (locals.srcObj.three_d_secure !== undefined && locals.srcObj.redirect.status != "not_required"){ %>
    <div class="result">Paiement effectué et approuvé via le 3DSecure !</div>
<%}else{ %>
    <div class="result">Paiement effectué et approuvé mais la carte renseignée (ne requière pas/ne supporte pas) le 3DSecure !</div>
<%}
}else{
%>
    <div class="result">Echec lors de l'orchestration du paiement !</div>
    <div class="msg"><%= locals.result.msg %></div>
<% 
} %>