<!-- POP UP CONNECTION -->
<!-- <section class="team">
<div class="ms-slide" style="background: #a5a5f5;cursor:pointer;width: 100%;height: 90px;"  data-member-id="5" data-title="Optional Title">
<img src="asset/images/design/blank.html" data-src="asset/images/team1.jpg" alt="lorem ipsum dolor sit"/> 

 <div class="ms-info">
    <span class="name">ELLEN JOHN</span>
    <span class="position">Public Relations</span>
</div>--><!-- .ms-info -->
<!-- </div> --> 
<div class="member-box-wrapper" style="margin: auto;">
                
                 <!-- Person 1 Box -->
                <div class="member-box" id="1" style="top:-642px;important!">
                   
                    <div class="color-wrapper" >
                         <a href="#" id="close" style="z-index: 99;"><i class="fa fa-times"></i></a>
                         <div class=" form-popup">
                            <h3 style="color:#f5e8d1;">Se connecter</h3>
                        </div>
                         <div class=" form-popup">
                            <form action="/login" method="POST" >
                                <div class="row" style="margin-bottom:0;">
                                    <div class="col-lg-12" style="padding:0;">
                                        <span class="input-popup email" style="margin: 0 0 10px 0;">
                                            <i class="fa fa-envelope"></i>
                                            <input type="email" name="email" class="lg" placeholder="Adresse email" />
                                        </span>
                                    </div>
                                    <!-- .input-popup -->
                                    <div class="col-lg-12" style="padding:0;">
                                        <span class="input-popup password" style="margin-bottom: 10px;">
                                            <i class="fas fa-unlock"></i>
                                            <input type="password" name="password" class="lg" placeholder="Mot de passe" />
                                        </span>
                                    <!-- .input-popup -->
                                    </div>
                                    <div class="col-lg-12" style="margin-bottom: 10px;text-align: right;padding:0;">
                                        <a style="color:#f5e8d1;" href="/forgottenPassword" >Mot de passe oublié ?</a>
                                    </div>
                                </div>
                                <div class="row" style="padding: 0;">
                                    <span class="input-popup">
                                        <button type="submit" >Envoyer</button>
                                    </span><!-- .input-popup -->
                                </div>
                            </form>
                         </div>
                    </div><!-- .color-wrapper -->
                    
                    <div class="clear-wrapper">
                        <div class=" form-popup">
                            <h3 style="">S'inscrire</h3>
                        </div>
                        <div>
                            <!-- Start cards choose -->
                            <div class="row" style="display:none;">
                                <div class="col-lg-6" style="margin: 0;padding: 0 35px 0 35px;width:45%;display:inline-block;border-right: 1px solid #a09b9b;">
                                    <div class="card">
                                      <a href="#" target="_blank" style="height: 150px;">
                                        <img src="/asset/images/logo.jpg"/>
                                      </a>
                                    </div>
                                </div>
                                <div class="col-lg-6" style="margin: 0;padding: 0 35px 0 35px;width:45%;display:inline-block;">
                                    <div class="card">
                                      <a href="#" target="_blank" style="height: 150px;">
                                        <img src="/asset/images/logo.jpg"/>
                                      </a>
                                    </div>
                                </div>
                            </div>
                            <!-- End cards choose -->
                            <!-- Start Artists Register Form -->
                            <% include artist_signup_form %>
                            <!-- End Artists Register Form -->
                            <!-- Start Pro Register Form -->
                            <% include pro_signup_form %>
                        <!-- End Pro Register Form -->
                       </div>
                    </div><!-- .clear-wrapper -->
                    <div class="shadow-lg" style="width:100%;background-size: contain;bottom:-29px;"></div><!-- Remove this to remove the bottom shadow -->  
                </div><!-- .member-box -->
        </div>
<!-- </section> -->

                    <!--END POP UP CONNECTION -->
