<div class="row" style="">
    <div class=" form-popup">
    <span class="message" style="display:none;">
    </span>    
    <form action="/" method="POST">
        <div class="row">
            <!-- .input-group -->
            <div class="col-lg-6" style="padding-left: 0;">
                <span class="input-popup nom" style="margin: 0 0 10px 0;">
                    <i class="fa fa-user"></i>
                    <input type="text" name="nom" class="lg" placeholder="Nom" />
                </span>
                <!-- .input-popup -->
            </div>
            <div class="col-lg-6" style="padding: 0;">
                <span class="input-popup prenom" style="margin: 0 0 10px 0;">
                    <i class="fa fa-user"></i>
                    <input style="height: 50px;" type="text" name="prenom" id="prenom" class="lg" placeholder="Prénom" />
                </span>
                <!-- .input-popup -->
            </div>
            <div class="col-lg-12" style="padding: 0;">
                <span class="input-popup email" style="margin: 0 0 10px 0;">
                    <i class="fa fa-envelope"></i>
                    <input type="email" name="email" class="lg" placeholder="Adresse email" />
                </span><!-- .input-popup -->
            </div>
            <div class="col-lg-12" style="padding: 0;">
                <span class="input-popup password" style="margin-bottom: 10px;">
                    <i class="fas fa-unlock"></i>
                    <input type="password" name="password" id="password" class="lg" placeholder="Mot de passe" />
                </span><!-- .input-popup -->
            </div>
            <div class="col-lg-12" style="padding: 0;">
                <span class="input-popup confirm_password" style="margin-bottom: 10px;">
                    <i class="fas fa-unlock"></i>
                    <input type="password" name="confirm_password" id="confirm_password" class="lg" placeholder="Confirmation du mot de passe" />
                </span><!-- .input-popup -->
            </div>
            <div class="col-lg-12" style="padding: 0;">    
                <span class="input-popup type_pro" style="margin: 0 0 10px 0;">
                    <i class="fas fa-angle-down"></i>
                    <select name="type_pro" class="lg" style="text-indent: 17px;">
                        <option value="0">Sélectionnez votre spécialité</option>
                        <option value="2"><i class="fas fa-video"></i>Production de clips vidéo</option>
                        <option value="3"><i class="fa fa-volume-off"></i>Production audio</option>
                    </select>
                </span>
            </div>
            <!-- .input-popup -->
        </div>
        <div class="col-lg-12" style="padding: 0;">
            <span class="input-popup">
                <button type="submit">Envoyer</button>
            </span><!-- .input-group -->
        </div>
    </form>
 </div>
</div>