<% include header %>

	<section class="adv-search-section no-padding">
		<div id="offers-map"></div>
		<form class="adv-search-form" action="#">
			<div class="adv-search-cont">
				<div class="container">
					<div class="row">
						<div class="col-xs-12 col-lg-11 adv-search-icons">
							<!-- Nav tabs -->
							<ul class="nav nav-tabs adv-search-tabs" role="tablist">
								<li role="presentation" class="active" data-toggle="tooltip" data-placement="top" title="Audio"><a href="#audio" aria-controls="apartments" role="tab" data-toggle="tab" id="adv-search-tab1"><i class="fa fa-building"></i></a></li>
								<li role="presentation" data-toggle="tooltip" data-placement="top" title="Vidéo"><a href="#video" aria-controls="houses" role="tab" data-toggle="tab" id="adv-search-tab2"><i class="fa fa-home"></i></a></li>
								<!-- <li role="presentation" data-toggle="tooltip" data-placement="top" title="commercials"><a href="#commercials" aria-controls="commercials" role="tab" data-toggle="tab" id="adv-search-tab3"><i class="fa fa-industry"></i></a></li>
								<li role="presentation" data-toggle="tooltip" data-placement="top" title="lands"><a href="#lands" aria-controls="lands" role="tab" data-toggle="tab" id="adv-search-tab4"><i class="fa fa-tree"></i></a></li> -->
							</ul>
						</div>
						<div class="col-lg-1 visible-lg">
							<a id="adv-search-hide" href="#"><i class="jfont">&#xe801;</i></a>
						</div>
					</div>
				</div>
				<div class="container">
			<div class="row tab-content">
				<div role="tabpanel" class="col-xs-12 adv-search-outer tab-pane fade in active" data-service-type="0" id="audio">
					<div class="row">
						<div class="col-xs-12 col-sm-6 col-lg-3">
							<select name="transaction1" class="bootstrap-select" title="Services:" multiple data-actions-box="true">
							</select>
						</div>
						<div class="col-xs-12 col-sm-6 col-lg-3">
							<select name="country1" class="bootstrap-select" title="Département:" data-actions-box="false">
							</select>
						</div>
						<div class="col-xs-12 col-sm-6 col-lg-3">
							<select name="city1" class="bootstrap-select" title="Ville:" data-actions-box="false">
							</select>
						</div>
						<div class="col-xs-12 col-sm-6 col-lg-3">
							<select name="location1" class="bootstrap-select" title="Disponibilité:" multiple data-actions-box="true">
								<option value="1">En Ligne</option>
								<option value="0">Hors Ligne</option>
							</select>
						</div>
					</div>
					<div class="row">
						<div class="col-xs-12 col-sm-6 col-lg-3">
							<div class="adv-search-range-cont">
								<label for="slider-range-price1-value" class="adv-search-label">Prix/h:</label>
								<span>€</span>
								<input type="text" id="slider-range-price1-value" readonly class="adv-search-amount">
								<div class="clearfix"></div>
								<div id="slider-range-price1" data-min="0" data-max="300000" class="slider-range"></div>
							</div>
						</div>
						<div class="col-xs-12 col-sm-6 col-lg-3">
							<div class="adv-search-range-cont">
								<label for="slider-range-area1-value" class="adv-search-label">Périmètre:</label>
								<span>km</span>
								<input type="text" id="slider-range-area1-value" readonly class="adv-search-amount">
								<div class="clearfix"></div>
								<div id="slider-range-area1" data-min="0" data-max="180" class="slider-range" enabled="false"></div>
							</div>
						</div>
						<div class="col-xs-12 col-sm-6 col-lg-3">
							<div class="adv-search-range-cont">
								<label for="slider-range-bedrooms1-value" class="adv-search-label">Bedrooms:</label>
								<input type="text" id="slider-range-bedrooms1-value" readonly class="adv-search-amount">
								<div class="clearfix"></div>
								<div id="slider-range-bedrooms1" data-min="1" data-max="10" class="slider-range"></div>
							</div>
						</div>
						<div class="col-xs-12 col-sm-6 col-lg-3">
							<div class="adv-search-range-cont">
								<label for="slider-range-bathrooms1-value" class="adv-search-label">Bathrooms:</label>
								<input type="text" id="slider-range-bathrooms1-value" readonly class="adv-search-amount">
								<div class="clearfix"></div>
								<div id="slider-range-bathrooms1" data-min="1" data-max="4" class="slider-range"></div>
							</div>
						</div>
					</div>
				</div>
				<div data-service-type="1" role="tabpanel" class="col-xs-12 adv-search-outer tab-pane fade" id="video">
					<div class="row">
						<div class="col-xs-12 col-sm-6 col-lg-3">
							<select name="transaction2" class="bootstrap-select" title="Services:" multiple data-actions-box="true">
							</select>
						</div>
						<div class="col-xs-12 col-sm-6 col-lg-3">
							<select name="country2" class="bootstrap-select" title="Département:" data-actions-box="false">
							</select>
						</div>
						<div class="col-xs-12 col-sm-6 col-lg-3">
							<select name="city2" class="bootstrap-select" title="Ville:" data-actions-box="true">
							</select>
						</div>
						<div class="col-xs-12 col-sm-6 col-lg-3">
							<select name="location2" class="bootstrap-select" title="Disponibilité:" multiple data-actions-box="true">
								<option value="1">En Ligne</option>
								<option value="0">Hors Ligne</option>
							</select>
						</div>
					</div>
					<div class="row">
						<div class="col-xs-12 col-sm-6 col-lg-3">
							<div class="adv-search-range-cont">
								<label for="slider-range-price2-value" class="adv-search-label">Prix:</label>
								<span>€</span>
								<input type="text" id="slider-range-price2-value" readonly class="adv-search-amount">
								<div class="clearfix"></div>
								<div id="slider-range-price2" data-min="0" data-max="300000" class="slider-range"></div>
							</div>
						</div>
						<div class="col-xs-12 col-sm-6 col-lg-3">
							<div class="adv-search-range-cont">
								<label for="slider-range-area2-value" class="adv-search-label">Périmètre:</label>
								<span>km</span>
								<input type="text" id="slider-range-area2-value" readonly class="adv-search-amount">
								<div class="clearfix"></div>
								<div id="slider-range-area2" data-min="0" data-max="180" class="slider-range"></div>
							</div>
						</div>
						<div class="col-xs-12 col-sm-6 col-lg-3">
							<div class="adv-search-range-cont">
								<label for="slider-range-bedrooms2-value" class="adv-search-label">Bedrooms:</label>
								<input type="text" id="slider-range-bedrooms2-value" readonly class="adv-search-amount">
								<div class="clearfix"></div>
								<div id="slider-range-bedrooms2" data-min="1" data-max="10" class="slider-range"></div>
							</div>
						</div>
						<div class="col-xs-12 col-sm-6 col-lg-3">
							<div class="adv-search-range-cont">
								<label for="slider-range-bathrooms2-value" class="adv-search-label">Bathrooms:</label>
								<input type="text" id="slider-range-bathrooms2-value" readonly class="adv-search-amount">
								<div class="clearfix"></div>
								<div id="slider-range-bathrooms2" data-min="1" data-max="4" class="slider-range"></div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="container">
			<div class="row">
				<div class="col-sm-12 col-md-6 col-lg-3 col-md-offset-6 col-lg-offset-9 adv-search-button-cont">
					<a data-type="search" href="#res" class="button-primary pull-right">
						<span>rechercher</span>
						<div class="button-triangle"></div>
						<div class="button-triangle2"></div>
						<div class="button-icon"><i class="fa fa-search"></i></div>
					</a>
				</div>
			</div>
		</div>
	</div>
		</form>
    </section>

	<section class="section-light section-top-shadow" id="res">
		<div class="container">
			<div class="row">
				<div class="col-xs-12">
						<div class="row">
							<div class="col-xs-12 col-lg-6">
								<h5 class="subtitle-margin">Recherche de <span class="filter_flags">'Tous'</span> :</h5>
								<h1><span class="len"><%= locals.listEtab.length %></span> professionnel(s) trouvé(s)<span class="special-color">.</span></h1>
							</div>
							<div class="col-xs-12 col-lg-6">
								<div class="view-icons-container">
									<a class="view-box view-box-active"><img src="/asset/images/grid-icon.png" alt="" /></a>
									<a class="view-box" href="listing-list-right-sidebar.html"><img src="/asset/images/list-icon.png" alt="" /></a>
								</div>
								<div class="order-by-container">
									<select name="sort" class="bootstrap-select" title="Trier par:">
										<option data-sort-value="price" data-sort-direction="asc">Prix croissant</option>
										<option data-sort-value="price" data-sort-direction="desc">Prix décroissant</option>
										<option data-sort-value="distance" data-sort-direction="asc">Distance croissante</option>
										<option data-sort-value="distance" data-sort-direction="desc">Distance décroissante</option>
										<option data-sort-value="name" data-sort-direction="asc">Nom croissant</option>
										<option data-sort-value="name" data-sort-direction="desc">Nom décroissant</option>
									</select>
								</div>
							</div>
							<div class="col-xs-12">
								<div class="title-separator-primary"></div>
							</div>
						</div>
						<div class="row">Affichage des éléments allant de <span class="first-page-ind"></span> à <span class="last-page-ind"></span> sur <span class="total-ind"></span></div>
						<div class="row grid-offer-row" id="etabs" style="min-height: 450px;">
							<% if (locals.listEtab !== undefined) {
				                for (k in locals.listEtab){
				            %>
				                  <% include pro_card2 %>

				            <%  }
				              } else { %>
				                Aucune enseigne pour le moment, actualisez la page !
				            <% } %>
						</div>
			</div>
		</div>
	</section>
	<% include footer %>
