*-*<% include header %>
<section class="content-section anim fadeInDown" data-wow-delay="0.25s">
        <div class="container">
            <h1><i class="fa fa-pencil"></i>CREATE NEW <span>PASSWORD</span></h1>
              <p>We offer many various services at Dale! We will list a few right here, right now just to show you how incredibly awesome we are at our company!</p>
        </div>
</section>

<section class="content-section">
    	<div class="form-popup" style="margin: auto;width: 75%;">
        	<% if (locals.msg !== undefined) { %>
                <span class="message">
                    <i class="fa-times fas"></i>
                    <% for (var i = locals.msg.length - 1; i >= 0; i--) {%>
                        <%='- '+locals.msg[i] %><br>
                    <%};%>
                    <a href="/">Accueil</a>                
                </span>
            <% }else{%>
                <span class="message">                
                </span>
                <form method="POST" action="/updatePassword/<%=locals.token %>">
                    <div class="row">    
                        <div class="col-lg-6" style="padding-left: 5px;padding-right: 5px;">
                            <span class="input-popup password">
                                <i class="fas fa-unlock"></i>
                                <input type="password" name="password" id="password" class="lg" placeholder="Mot de passe" />
                            </span> 
                        </div><!-- .input-popup -->
                        <div class="col-lg-6" style="padding-right: 5px;padding-left: 5px;">
                            <span class="input-popup confirm_password">
                                <i class="fas fa-unlock"></i>
                                <input type="password" name="confirm_password" id="confirm_password" class="lg" placeholder="Confirmation du mot de passe" />
                            </span>
                            <!-- .input-popup -->
                        </div><!-- .col-12 -->
                        <div class="col-lg-12" style="padding-left: 5px;padding-right: 5px;">                        
                            <span class="input-popup">
                            	<button type="submit">ENVOYER</button>
                            </span><!-- .input-popup -->
                        </div>
                    </div>
                </form>
                <% }%>
    	</div><!-- .container -->
    </section><!-- .content-section .form -->

<% include footer %>