<% include header %>
<section class="short-image no-padding blog-short-title">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-lg-12 short-image-title">
                <h5 class="subtitle-margin second-color">dashboard</h5>
                <h1 class="second-color">Modification du mot de passe</h1>
                <div class="short-title-separator"></div>
            </div>
        </div>
    </div>
</section>
<section class="section-light section-top-shadow">
    <div class="container msg-responses">
        <div class="row">
            <div class="col-xs-12 col-md-12">
                <div class="row msg-profile">
                    <div class="col-xs-12">
                        <h1>Profile<span class="special-color">.</span></h1>
                        <div class="title-separator-primary"></div>
                    </div>
                </div>
                <% if (locals.session.msg === undefined){ %>
                    <form name="agent-form" action="#">
                        <div class="row margin-top-60">
                            <!-- <div class="col-xs-6 col-xs-offset-3 col-sm-offset-0 col-sm-3 col-md-4">
                                <div class="agent-photos">
                                    <img src="<%= '/asset/img/default.png' %>" id="agent-profile-photo" class="img-responsive" alt="" />
                                </div>
                            </div> -->
                            <div class="col-xs-12 col-sm-12 col-md-12">
                                <div class="labelled-input">
                                    <label for="password">Nouveau mot de passe*</label><input id="password" name="password" type="password" class="input-full main-input" placeholder="" value=""/>
                                    <div class="clearfix"></div>
                                </div>
                                <div class="labelled-input">
                                    <label for="confirm_password">Confirmation*</label><input id="confirm_password" name="confirm_password" type="password" class="input-full main-input" placeholder="" value=""/>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                        </div>
                        <a href="#" data-action="password_update" class="savecal button-alternative button-shadow button-full margin-top-15">
                            <span>Sauvegarder</span>
                            <div class="button-triangle"></div>
                            <div class="button-triangle2"></div>
                            <div class="button-icon"><i class="jfont fa-lg">&#xe804;</i></div>
                        </a>
                    </form>
                <% }else{ %>
                    <div class="global_msg">
                        <div class="error-box">
                            <p style="margin:0;"><%= locals.session.msg[0] %></p>
                            <div class="small-triangle"></div>
                            <div class="small-icon"><i class="jfont">&#xe80f;</i></div>
                        </div>
                    </div>
                <% } %>
            </div>
        </div>
    </div>
</section>
<% include footer %>